
body {
  background-color: #b30000;
  font-family: sans-serif;
  color: white;
  padding: 20px;
}
.container {
  max-width: 800px;
  margin: auto;
  background-color: #660000;
  padding: 20px;
  border-radius: 10px;
}
img {
  border-radius: 10px;
  margin: 10px 0;
}
a {
  color: #ffcccb;
}
